{{> header }}
<style>
    #main-content {
        display: none;
    }
    #profile-make-model {
    position: absolute;
    top: 0px;
    right: 10px;
    color: dimgray;
    font-family: sans-serif;
    }
    #profile-info-header {
        position: relative;
    }
    #profile-image-counter {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background: rgba(0, 0, 0, .7);
    font-family: sans-serif;
    color: white;
    border-radius: 10px;
    font-size: .8em;
    padding: 5px;
    }

</style>
<div id ="user-profile">
<div id="profile-image-holder">
    <div id="profile-image-counter">1/1</div>
</div>
<div id="profile-info-header">
    <div id="profile-location"><i class="fa-solid fa-location-dot"></i> {{user_data.location}}</div>
    <div id="profile-make-model"></div>
    <h1 id="profile-username">{{user_data.username}}</h1>
    <div style="padding:20px">
    <div class="captain-feed-specs">
        <div class="captain-feed-spec ctl">
            <i class="fa-solid fa-ruler"></i> Length: {{user_data.boat_length}}ft
        </div><div class="captain-feed-spec ctr">
            <i class="fa-solid fa-users"></i> Capacity: {{user_data.boat_capacity}}
        </div><div class="captain-feed-spec cbl">
            <i class="fa-solid fa-sailboat"></i> {{user_data.boat_name}}
        </div><div class="captain-feed-spec cbr">
            <i class="fa-solid fa-calendar"></i> Year: {{user_data.boat_year}}
        </div>
    </div>
    </div>
    <div id="profile-tagline">{{user_data.tagline}}</div>
    <div id="profile-bio">{{user_data.bio}}</div>
</div>
<div id="profile-features">
    <h2>Amenities</h2>
    <div class="boat-stats">
        <i class="fa-solid fa-toilet"></i> Bathrooms: {{user_data.boat_bathrooms}}<br>
        <i class="fa-solid fa-bed"></i> Bedrooms: {{user_data.boat_bedrooms}}<br>
        <i class="fa-solid fa-ruler-combined"></i> Floors: {{user_data.boat_floors}}
    </div>
   
    <div id="pa-bimini_top" class="amenity-checklist"><i class="fa-solid fa-square-check"></i> Bimini Top/Shade</div>
    <div id="pa-coolers" class="amenity-checklist"><i class="fa-solid fa-square-check"></i> Coolers</div>
    <div id="pa-ac" class="amenity-checklist"><i class="fa-solid fa-square-check"></i> Air Conditioning</div>
    <div id="pa-shower" class="amenity-checklist"><i class="fa-solid fa-square-check"></i> Shower</div>
    <div id="pa-fridge" class="amenity-checklist"><i class="fa-solid fa-square-check"></i> Fridge</div>
    <div id="pa-grill" class="amenity-checklist"><i class="fa-solid fa-square-check"></i> Grill</div>
    <div id="pa-bunny_pad" class="amenity-checklist"><i class="fa-solid fa-square-check"></i> Bunny Pad</div>
    <div id="pa-terrace" class="amenity-checklist"><i class="fa-solid fa-square-check"></i> Fold-out Terrace</div>
    <div id="pa-hot_tub" class="amenity-checklist"><i class="fa-solid fa-square-check"></i> Hot Tub</div>
</div>
<!-- THOTS ONLY
<div id="profile-rating"><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></div>
-->
<!--
<div id="profile-events">
    <div id="no-profile-events">
        No Upcoming Events
    </div>
    <div class="profile-event-content" style="background:url(/img/sample/boaxt.webp)">
        <div id="profile-event-month">
            JUNE 18th
        </div>
        <div id="profile-event-date">
            Short Details for the event go here?
        </div>
        <div id="profile-event-theme">
            Brunch
        </div>
        <div id="profile-event-time">
            4:00pm
        </div>
    </div>
</div>
-->
</div>
<div id="user">

</div>
{{> footer }}