{{> header }}
<style>
    #main-content {
        display: none;
    }
    #captain-feed {
        font-family: sans-serif;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .thot-feed-img {
    background: url(/img/no-image-thot.webp);
    width: 100%;
    aspect-ratio: 9 / 16;
    background-size: cover;
    background-position: center;
    position: relative;
    }
    .thot-profile-link {
        text-decoration: none;
        color: black;
    }
    .thot-feed-username {
    font-size: 2em;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
        background: rgba(0, 0, 0, .3);
    padding: 5px;
    border-radius: 10px;
    }
    .thot-feed-item {
        padding: 20px;
    }
    .thot-feed-age {
        font-size: 3em;
        position: absolute;
        right: 20px;
        bottom: 160px;
    }
    .thot-feed-location {
        margin-top: 10px;
    }
    .thot-feed-item {
         position: relative;
    }

</style>
<div id="captain-feed">
    {{#each thots}}
    
    <div class="thot-feed-item">
        <a class='thot-profile-link' href="/profile?uid={{user_id}}">
        <div class="thot-feed-img" {{#ifeq profile_img_idx -1}}{{else}}style="background-image:url(/img/user-photos/{{user_id}}_{{profile_img_idx}}.jpg)"{{/ifeq}}>
            <!--<div class="profile-image-counter">1/1</div>-->
        <div class="thot-feed-username">
            {{username}}
        </div>
        </div>
        </a>

        <div class="thot-feed-location">
            <i class="fa-solid fa-location-dot"></i> {{location}}
        </div>
        <div class="thot-feed-tagline">
            {{tagline}}
        </div>
        <div class="thot-feed-age">
            {{age}}
        </div>

        <div class="thot-profile-actions">
            <a href="/messages?uid={{user_id}}">
                <div class="thot-profile-message">
                    <i class="fa-solid fa-paper-plane"></i>
                </div>
            </a>
            <a href="/profile?uid={{user_id}}">
                <div class="thot-profile-goto">
                    <i class="fa-solid fa-user"></i>
                </div>
            </a>
            <!--
            <div class="thot-profile-like" onclick="likeProfile({{user_id}})">
                <i class="fa-regular fa-heart"></i>
            </div>--->
        </div>

    </div>
    
    {{/each}}
</div>
{{> footer }}