{{> header }}
<style>
    #main-content {
        display: none;
    }
    #profile-make-model {
    position: absolute;
    top: 0px;
    right: 10px;
    color: dimgray;
    font-family: sans-serif;
    }
    #profile-info-header {
        position: relative;
    }
 

</style>
<div id ="user-profile">
<div id="profile-image-holder">
    <div id="profile-image-counter">1/1</div>
            {{#ifeq show_action_bar 1}}
        {{else}}
        <div id="profile-image-edit"><i class="fa-solid fa-pencil"></i></div>
        {{/ifeq}}
</div>
<div id="profile-info-header">
    <div id="profile-location"><i class="fa-solid fa-location-dot"></i> {{profile_data.location}}</div>
    <div id="profile-make-model"></div>
    <h1 id="profile-username">{{profile_data.username}}</h1>
    <div style="padding:20px">
    <div class="captain-feed-specs">
        <div class="captain-feed-spec ctl">
            <i class="fa-solid fa-ruler"></i> Length: {{profile_data.boat_length}}ft
        </div><div class="captain-feed-spec ctr">
            <i class="fa-solid fa-users"></i> Capacity: {{profile_data.boat_capacity}}
        </div><div class="captain-feed-spec cbl">
            <i class="fa-solid fa-sailboat"></i> {{profile_data.boat_name}}
        </div><div class="captain-feed-spec cbr">
            <i class="fa-solid fa-calendar"></i> Year: {{profile_data.boat_year}}
        </div>
    </div>
    </div>
    <div id="profile-tagline">{{profile_data.tagline}}</div>
    <div id="profile-bio">{{profile_data.bio}}</div>
</div>
<div id="profile-features">
    <h2>Amenities</h2>
    <div class="boat-stats">
        <i class="fa-solid fa-toilet"></i> Bathrooms: {{profile_data.boat_bathrooms}}<br>
        <i class="fa-solid fa-bed"></i> Bedrooms: {{profile_data.boat_bedrooms}}<br>
        <i class="fa-solid fa-ruler-combined"></i> Floors: {{profile_data.boat_floors}}
    </div>
   
    <div id="pa-bimini_top" class="amenity-checklist"><i class="fa-solid fa-square-check"></i> Bimini Top/Shade</div>
    <div id="pa-coolers" class="amenity-checklist"><i class="fa-solid fa-square-check"></i> Coolers</div>
    <div id="pa-ac" class="amenity-checklist"><i class="fa-solid fa-square-check"></i> Air Conditioning</div>
    <div id="pa-shower" class="amenity-checklist"><i class="fa-solid fa-square-check"></i> Shower</div>
    <div id="pa-fridge" class="amenity-checklist"><i class="fa-solid fa-square-check"></i> Fridge</div>
    <div id="pa-grill" class="amenity-checklist"><i class="fa-solid fa-square-check"></i> Grill</div>
    <div id="pa-bunny_pad" class="amenity-checklist"><i class="fa-solid fa-square-check"></i> Bunny Pad</div>
    <div id="pa-terrace" class="amenity-checklist"><i class="fa-solid fa-square-check"></i> Fold-out Terrace</div>
    <div id="pa-hot_tub" class="amenity-checklist"><i class="fa-solid fa-square-check"></i> Hot Tub</div>
</div>
<!-- THOTS ONLY
<div id="profile-rating"><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i></div>
-->
<!--
<div id="profile-events">
    <div id="no-profile-events">
        No Upcoming Events
    </div>
    <div class="profile-event-content" style="background:url(/img/sample/boaxt.webp)">
        <div id="profile-event-month">
            JUNE 18th
        </div>
        <div id="profile-event-date">
            Short Details for the event go here?
        </div>
        <div id="profile-event-theme">
            Brunch
        </div>
        <div id="profile-event-time">
            4:00pm
        </div>
    </div>
</div>
-->
</div>
    {{#ifeq show_action_bar 1}}
    <div id="captain-profile-actions">
        <a style="color:black" href="/messages?uid={{profile_data.user_id}}">
            <div id="captain-profile-message">
                <i class="fa-solid fa-message"></i>
            </div>
        </a>
        <a style="color:black" href="/feed">
            <div id="captain-profile-back">
                <i class="fa-solid fa-arrow-left-long"></i>
            </div>
        </a>
        <div id="captain-profile-like" onclick="likeProfile({{profile_data.user_id}})">
            <i id="captain-profile-like-icon" class="fa-regular fa-heart"></i>
        </div>
    </div>
    {{else}}
    <a href='/onboarding'><div id="edit-profile-button">Edit Profile</div></a>
    {{/ifeq}}
<div id="user">

</div>
<script>
            var profile_data = "{{json profile_data}}"
            profile_data = profile_data.replace(/&quot;/g, '\"');
            console.log("PROFILE DATA:", profile_data)
            profile_data = JSON.parse(profile_data);
</script>
{{> footer }}