{{> header }}
<style>
    #step2-CAPTAIN, #step2-THOT, #step3-CAPTAIN, #step4-CAPTAIN {
        opacity: 0;
        transition: opacity 1s;
        display: none
    }

    input, textarea {
    color: white;
    background: none;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    text-align: center;
    color-scheme: dark;
    width: 100%;
    }

    #captain-onboarding-year {
        width: 4em;
    }

    #onboarding-submit {

    }
    #onboarding {
        text-transform: lowercase;
    }
    .onboarding-feed-specs input {
        width: 3em;
    }
    #onboarding h2 {
        margin-bottom: 0px;
    }
</style>
<div id="onboarding">
           <div class="centered">
            <div id="step1-1">
                <h2>Which One Are You?</h2>
                <div id="onboard-captain" class="onboarding-button"><i class="fa-solid fa-anchor"></i> Boat Owner</div>
                <div id="onboard-thot" class="onboarding-button"><i class="fa-solid fa-person-dress"></i> Yacht Thot</div>
            </div>
            <div id="step2-CAPTAIN">
                <h2>Enter a Username</h2>
                 <input id="captain-username" placeholder="Username.." value="{{user_data.username}}"/>
                <h2>Enter Location</h2>
                <input id="captain-location" placeholder="Boca Raton, FL" value="{{user_data.location}}"/>
                <h2>Enter Boat</h2>
                <input id="captain-boat-name" placeholder="Make/Model"/ value="{{user_data.boat_name}}">
                <h2>Enter a Tagline</h2>
                <textarea id="captain-tagline" maxlength="50">{{user_data.tagline}}</textarea>
                <h2>Enter a Bio</h2>
                <textarea id="captain-bio" maxlength="500">{{user_data.bio}}</textarea>
                <div id="onboarding-captain-back" class="onboarding-button">Back</div><div id="onboarding-captain-next" class="onboarding-button">Next</div>
            </div>
            <div id="step3-CAPTAIN">
                    <div class="captain-feed-specs onboarding-feed-specs">
                        <div class="captain-feed-spec ctl">
                            <i class="fa-solid fa-sailboat"></i> <span id="captain-prep-boat-name">{{user_data.boat_name}}</span>
                        </div><div class="captain-feed-spec ctr">
                             <i class="fa-solid fa-calendar"></i> Year: <input id='captain-onboarding-year' value="{{user_data.boat_year}}" placeholder="2020"/>
                        </div><div class="captain-feed-spec cbl">
                            <i class="fa-solid fa-ruler"></i> Length: <input id='captain-onboarding-length' value="{{user_data.boat_length}}"placeholder="10"/>
                        </div><div class="captain-feed-spec cbr">
                           <i class="fa-solid fa-users"></i> Capacity: <input id='captain-onboarding-capacity' value="{{user_data.boat_capacity}}" placeholder="5"/>
                        </div>
                    </div>
                <h2>Bathrooms</h2>
                    <input id="captain-boat-bathrooms" type="number" placeholder="#" value="{{user_data.boat_bathrooms}}"/>
                <h2>Bedrooms</h2>
                    <input id="captain-boat-bedrooms" type="number" placeholder="#" value="{{user_data.boat_bedrooms}}"/>
                <h2>Floors</h2>
                    <input id="captain-boat-floors" type="number" placeholder="#"/ value="{{user_data.boat_floors}}">
                <div id="onboarding-captain-back-2" class="onboarding-button">Back</div><div id="onboarding-captain-next-2" class="onboarding-button">Next</div>
            </div>
            <div id="step4-CAPTAIN">
                <h2>Select Your Anemities</h2>
                <div style="text-align:left">
                    <div id="bimini_top" class="amenity-checklist"><i class="fa-regular fa-square-check"></i> Bimini Top/Shade</div>
                    <div id="coolers" class="amenity-checklist"><i class="fa-regular fa-square-check"></i> Coolers</div>
                    <div id="ac" class="amenity-checklist"><i class="fa-regular fa-square-check"></i> Air Conditioning</div>
                    <div id="shower" class="amenity-checklist"><i class="fa-regular fa-square-check"></i> Shower</div>
                    <div id="fridge" class="amenity-checklist"><i class="fa-regular fa-square-check"></i> Fridge</div>
                    <div id="grill" class="amenity-checklist"><i class="fa-regular fa-square-check"></i> Grill</div>
                    <div id="bunny_pad" class="amenity-checklist"><i class="fa-regular fa-square-check"></i> Bunny Pad</div>
                    <div id="terrace" class="amenity-checklist"><i class="fa-regular fa-square-check"></i> Fold-out Terrace</div>
                    <div id="hot_tub" class="amenity-checklist"><i class="fa-regular fa-square-check"></i> Hot Tub</div>
                    </div>
                <div id="onboarding-captain-back-3" class="onboarding-button">Back</div><div id="onboarding-captain-submit" class="onboarding-button">Submit</div>
            </div>
            <div id="step2-THOT">
                <h2>Enter a Username</h2>
                <input id='thot-username' placeholder="Username.." value="{{user_data.username}}"/>
                <h2>Enter Location</h2>
                <input id='thot-location' placeholder="Miami, FL" value="{{user_data.location}}"/>
                <h2>Enter Birthday</h2>
                <input id="thot-birthday" onchange="checkBirthday()" type="date" value="{{user_data.birthday_formatted}}"/>
                <h2>Enter a Tagline</h2>
                <textarea id="thot-tagline" maxlength="20">{{user_data.tagline}}</textarea>
                <h2>Enter a Bio</h2>
                <textarea id="thot-bio">{{user_data.bio}}</textarea>
                <div id="onboarding-back-thot" class="onboarding-button">Back</div><div id="onboarding-submit-thot" class="onboarding-button">Submit</div>
            </div>
        </div>

</div>
<script>
var amenities = {
    bimini_top: 0,
    coolers: 0,
    ac: 0,
    shower: 0,
    fridge: 0,
    grill: 0,
    bunny_pad: 0,
    terrace: 0,
    hot_tub: 0
}
    var anemity_checklists = document.getElementsByClassName("amenity-checklist");

    for(var i = 0; i < anemity_checklists.length; i++) {
        let icon = anemity_checklists[i].children[0];
        let am_id  = anemity_checklists[i].id
        anemity_checklists[i].onclick = function() {
            icon.classList.toggle("fa-regular")
            icon.classList.toggle("fa-solid")
            if(amenities[am_id] == 0)
                amenities[am_id] = 1
            else
                amenities[am_id] = 0
        }
    }

function getAge(DOB) {
    var today = new Date();
    var birthDate = new Date(DOB);
    var age = today.getFullYear() - birthDate.getFullYear();
    var m = today.getMonth() - birthDate.getMonth();
    if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
        age--;
    }    
    return age;
}

    function checkBirthday() {
        var enteredAge = getAge(document.getElementById("thot-birthday").value);
        if( enteredAge < 18 ) {
            alert("Must be 18 or older")
            document.getElementById("thot-birthday").value = ""
        }
    }

    document.getElementById("onboarding-captain-next-2").onclick = function() {
        showStep(4)
    }
    document.getElementById("onboarding-captain-next").onclick = function() {
        if(document.getElementById("captain-username").value == "") {
            alert("Insert Username")
            return
        }
        if(document.getElementById("captain-location").value == "") {
            alert("Insert Location")
            return
        }
        if(document.getElementById("captain-boat-name").value == "") {
            alert("Insert Boat Name")
            return
        }
        if(document.getElementById("captain-tagline").value == "") {
            alert("Insert Tagline")
            return
        }
        if(document.getElementById("captain-bio").value == "") {
            alert("Insert Bio")
            return
        }
        document.getElementById("captain-prep-boat-name").innerHTML = document.getElementById("captain-boat-name").value
        showStep(3)
    }

    var role = ""
    document.getElementById("onboard-captain").onclick = function() {
        role = "CAPTAIN"
        
        showStep(2)
    }
    document.getElementById("onboard-thot").onclick = function() {
        role = "THOT"
        showStep(2)
    }
    document.getElementById("onboarding-back-thot").onclick = function() {
        showStep(1)
    }

        document.getElementById("onboarding-captain-back").onclick = function() {
        showStep(1)
    }

    document.getElementById("onboarding-captain-back-2").onclick = function() {
        showStep(2)
    }

    document.getElementById("onboarding-captain-back-3").onclick = function() {
        showStep(3)
    }
    function showStep(step) {
        console.log("Showing Step " + step + " FOR " + role)
    switch(step) {
        case 1:
            
            document.getElementById("step2-" + role).style.opacity = "0"
            setTimeout(function() {
                 document.getElementById("step2-" + role).style.display = "none"
                document.getElementById("step1-1").style.display = "inherit"
                document.getElementById("step1-1").style.opacity = "1"
                }, 1000)
        break;
        case 2:
            document.getElementById("step1-1").style.opacity = "0"

            if(role == "CAPTAIN")
                document.getElementById("step3-" + role).style.opacity = "0"
            
            setTimeout(function() {
                if(role == "CAPTAIN")
                    document.getElementById("step3-" + role).style.display = "none"
                document.getElementById("step1-1").style.display = "none"
                document.getElementById("step2-" + role).style.display = "block"
                document.getElementById("step2-" + role).style.opacity = "1"
            
            }, 1000)
        break;
        case 3:
            document.getElementById("step2-" + role).style.opacity = "0"
                        
            document.getElementById("step4-" + role).style.opacity = "0"
            setTimeout(function() {
                document.getElementById("step4-" + role).style.display = "none"
             document.getElementById("step2-" + role).style.display = "none"
            document.getElementById("step3-" + role).style.display = "block"
            document.getElementById("step3-" + role).style.opacity = "1"
            
            }, 1000)
        break;
        case 4:
            document.getElementById("step3-" + role).style.opacity = "0"
            
            setTimeout(function() {
             document.getElementById("step3-" + role).style.display = "none"
            document.getElementById("step4-" + role).style.display = "block"
            document.getElementById("step4-" + role).style.opacity = "1"
            
            }, 1000)
        break;
    }

}
</script>
{{> footer }}