{{> header }}
<style>
    #main-content {
        display: none;
    }
    #thot-profile-holder {
        font-family: sans-serif;
    }
    #thot-username {
        font-size: 3em;
        display: inline-block;
    }
    #thot-age {
        font-size: 2.5em;
        display: inline-block;
    }
    #thot-tagline {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    #thot-profile-info {
        padding: 10px;
        padding-bottom: 160px;
    }
    #thot-profile-actions {
        bottom: 50px;
        height: 100px;
        background: white;
        width: 100%;
        position: fixed;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    }
    #thot-profile-message {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid gray;
        border-radius: 50%;
        padding: 20px;
        font-size: 2em;
    }
        #thot-profile-back {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(calc(-50% - 3em), -50%);
        border: 1px solid gray;
        border-radius: 50%;
        padding: 20px;
        font-size: 2em;
    }
        #thot-profile-like {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(calc(-50% + 3em), -50%);
        border: 1px solid gray;
        border-radius: 50%;
        padding: 20px;
        font-size: 2em;
    }
</style>
<input type="file" id="profile-image-upload" style="display:none"/> 
<div id="thot-profile-holder">
    <div id="thot-profile-img-holder">
        <div id="profile-image-counter">1/1</div>
        {{#ifeq show_action_bar 1}}
        {{else}}
        <div id="profile-image-edit"><i class="fa-solid fa-pencil"></i></div>
        {{/ifeq}}
    </div>
    <div id="thot-profile-info">
        <div id="thot-username">{{profile_data.username}}</div>
        <div id="thot-location"><i class="fa-solid fa-location-dot"></i> {{profile_data.location}}</div>
        <div id="thot-sign">{{profile_data.a_sign}}</div>
        <div id="thot-tagline">{{profile_data.tagline}}</div>
                <div id="thot-age">{{profile_data.age}}</div>
        
        <div id="thot-bio">{{profile_data.bio}}</div>
    </div>
    {{#ifeq show_action_bar 1}}
    <div id="thot-profile-actions">
        <a style="color:black" href="/messages?uid={{profile_data.user_id}}">
        <div id="thot-profile-message">
            <i class="fa-solid fa-message"></i>
        </div>
        </a>
        <div id="thot-profile-back">
            <i class="fa-solid fa-arrow-left-long"></i>
        </div>
        <div id="thot-profile-like" onclick="likeProfile({{profile_data.user_id}})">
            <i id="thot-profile-like-icon" class="fa-regular fa-heart"></i>
        </div>
    </div>
    {{else}}
    <a href='/onboarding'><div id="edit-profile-button">Edit Profile</div></a>
    {{/ifeq}}
</div>
<script>
            var profile_data = "{{json profile_data}}"
            profile_data = profile_data.replace(/&quot;/g, '\"');
            console.log("PROFILE DATA:", profile_data)
            profile_data = JSON.parse(profile_data);
</script>
{{> footer }}