{{> header }}
<!--
<div id="feed-search">
    <div id="searchbar-holder">
        <i class="fa-solid fa-location-dot"></i>
        <input id="search-location" placeholder="Enter Location"/>
        <div id="search-button">
            <div id="search-button-content-mobile">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div id="search-button-content-desktop">
                SEARCH
            </div>
            </div>
    </div>
</div>
-->
<style>
#main-content {
    display: none;
}
#thot-feed {
    font-family: sans-serif;
    padding-top: 50px;
}
.captain-profile {
    position: relative;
    padding-bottom: 75px;
}
.captain-profile-photo {
    aspect-ratio: 16 / 9;
    width: 100%;
    background-image: url(/img/no-image-captain.webp);
    background-size: cover;
    position: relative;
}
.captain-feed-info {
    position: relative;
    padding: 10px;
}
.captain-feed-username {
    font-size: 2em;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
        background: rgba(0, 0, 0, .3);
    padding: 5px;
    border-radius: 10px;
}

.captain-feed-link {
    color: black;
    text-decoration: none;

}
.captain-feed-location {
    color: dimgray;
}
.captain-feed-make-model {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    color: dimgray;
    font-family: sans-serif;
}

.captain-feed-tagline {
text-align: center;
    font-style: italic;
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 15px;
}

</style>
<div id="thot-feed">
    {{#each captains}}
        <a class='captain-feed-link' href="/profile?uid={{user_id}}">
        <div class="captain-profile">
            <div class="captain-profile-photo" {{#ifeq profile_img_idx -1}}{{else}}style="background-image:url(/img/user-photos/{{user_id}}_{{profile_img_idx}}.jpg)"{{/ifeq}}>
                 <div class="captain-feed-username">{{username}}</div>
            </div>
            <div class="captain-feed-info">
                <div class="captain-feed-make-model">{{boat_name}}</div>
                <div class="captain-feed-location"><i class="fa-solid fa-location-dot"></i> {{location}}</div>
                <div class="captain-feed-tagline">{{tagline}}</div>
                
                <div class="captain-feed-ne"><i class="fa-solid fa-calendar-days"></i> Next Event: TBD</div>
            </div>
            <div class="captain-feed-specs">
             <div class="captain-feed-spec ctl">
            <i class="fa-solid fa-ruler"></i> Length: {{boat_length}}ft
        </div><div class="captain-feed-spec ctr">
            <i class="fa-solid fa-users"></i> Capacity: {{boat_capacity}}
        </div><div class="captain-feed-spec cbl">
            <i class="fa-solid fa-sailboat"></i> {{boat_name}}
        </div><div class="captain-feed-spec cbr">
            <i class="fa-solid fa-calendar"></i> Year: {{boat_year}}
        </div>
            </div>
        <div class="captain-profile-actions">
             <a href="/messages?uid={{user_id}}">
            <div class="captain-profile-message">
                <i class="fa-solid fa-paper-plane"></i>
            </div>
            </a>
            <a href="/profile?uid={{user_id}}">
                <div class="captain-profile-goto">
                    <i class="fa-solid fa-user"></i>
                </div>
            </a>
            <!--
            <div class="captain-profile-like" onclick="likeProfile({{user_id}})">
                <i class="fa-regular fa-heart"></i>
            </div>--->
        </div>
        </div>
        </a>
    {{/each}}
</div>
{{> footer }}